<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive img-rounded" src="@Url.Content("~/Content/images/profile_pic.jpg")" />
        </div>
        <div class="col-md-8">
            <h1>Ahmed Sherien</h1>
            <p class="lead">I'm a Muslim .Net Developer and a Gamification evangalist, I love video games and drawing ...</p>
            <p>@*<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
        </div>
    </div>
</div>
